body {
    /* font-family: "SoDo Sans SemiBold"; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(39, 39, 39);
  }
  
  .root {
     
      font-family: 'Oswald', sans-serif;
  }
